In [401]:
import pandas as pd

# Loading the CSV file into the DataFrame :

In [402]:
df = pd.read_csv('students_grades.csv')

# Accessing Data :

In [403]:
# Access a specific column by name :
Name_Column = df['Name']
print(Name_Column)

print(end="\n")

Math_Column = df['Math']
print(Math_Column)

print(end="\n")

#Access a specific row by index :
Youssef_Row = df.iloc[1]
print(Youssef_Row)

print(end="\n")

# Accessing a specific data :
Youssef_Math = df.iloc[1]['Math']
print(Youssef_Math)

0       Sara
1    Youssef
2      Imane
3       Omar
4       Amal
5     Rachid
6      Hajar
Name: Name, dtype: object

0    12
1     9
2    16
3    13
4    15
5     7
6    11
Name: Math, dtype: int64

Name         Youssef
Math               9
Physics            8
Chemistry         10
Name: 1, dtype: object

9

# Calculate the average grade for each student :

In [404]:
# Add a new column :
df['Average'] = 0

# Get the number of columns and rows :
num_rows_cols = df.shape  # (rows, columns)
num_rows = num_rows_cols[0]
num_columns = num_rows_cols[1]

# Iterate throught all the values to add the average :
    # .iloc gives a copy, so when modifying the actual value use .at
#  Methode 1 : (classic one)
"""
list_des_matieres = list(df.columns)[1:4]
num_des_matieres = int(len(list_des_matieres))
for i in range(0, num_rows):
    average = 0
    for j in list_des_matieres:
        average += df.at[i, j]
    df.at[i, 'Average'] = int(average/num_des_matieres)
"""                                                    
        
# Methode 2 : (pandas vectorized operations)
    # axis = 0 : columns , axis = 1 : rows (This mean the direction which an operation is executed)
list_des_matieres= list(df.columns)[1:4]
df['Average'] = df[list_des_matieres].mean(axis=1)

print(df)

      Name  Math  Physics  Chemistry    Average
0     Sara    12       14         15  13.666667
1  Youssef     9        8         10   9.000000
2    Imane    16       17         14  15.666667
3     Omar    13       12         11  12.000000
4     Amal    15       18         17  16.666667
5   Rachid     7        6          8   7.000000
6    Hajar    11       13         12  12.000000

# Limit the floating point precision to 3 :

In [405]:
df['Average'] = df['Average'].round(3)

# Sort students by their average grade in descending order :

In [406]:
# sort by Average (one column) :
df = df.sort_values(by='Average', ascending=False)
print(df)

print(end="\n")

"""
# sort by index :
df = df.sort_index(ascending=False)
print(df)

print(end="\n")

#sort by 2 columns :
df = df.sort_values(by=['Math', 'Physics', 'Chemistry', 'Average'])
print(df)
"""

      Name  Math  Physics  Chemistry  Average
4     Amal    15       18         17   16.667
2    Imane    16       17         14   15.667
0     Sara    12       14         15   13.667
3     Omar    13       12         11   12.000
6    Hajar    11       13         12   12.000
1  Youssef     9        8         10    9.000
5   Rachid     7        6          8    7.000

'\n# sort by index :\ndf = df.sort_index(ascending=False)\nprint(df)\n\nprint(end="\n")\n\n#sort by 2 columns :\ndf = df.sort_values(by=[\'Math\', \'Physics\', \'Chemistry\', \'Average\'])\nprint(df)\n'

# Display Top 3 students :

In [407]:
# Printing the top 3 students :
print(df.head(3))  # df.head(num) : num = the number of the first rows 
print("\n")
print(df.tail(3))  # df.tail(num) : num = the number of the last rows

    Name  Math  Physics  Chemistry  Average
4   Amal    15       18         17   16.667
2  Imane    16       17         14   15.667
0   Sara    12       14         15   13.667


      Name  Math  Physics  Chemistry  Average
6    Hajar    11       13         12     12.0
1  Youssef     9        8         10      9.0
5   Rachid     7        6          8      7.0

# Save the file :

In [408]:
# Saving the changes into a new CSV file :
df.to_csv('students_grades_with_average.csv')